
<mat-toolbar color='primary'>
  <ul>
    <li >
    <a  mat-button routerLinkActive="mat-accent">Save Reports</a>
   </li>
   <li >
    <a  mat-button routerLinkActive="mat-accent">Home</a>
   </li>

   <div class="dropdown">
    <button class="dropbtn">Project
      <fa-icon [icon]="downIcon"></fa-icon>
    </button>

    <div class="dropdown-content">
      <a href="#">EMOST</a>
      <a href="#">ERE</a>
      <a href="#">Wipro</a>
    </div>
  </div>

<li>
  <a  mat-button routerLinkActive="mat-accent">Admin</a>

</li>
<li>
  <a  mat-button routerLinkActive="mat-accent">Contact</a>

</li>

  </ul>

</mat-toolbar>

